
  </div><!-- /.container -->
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; Shreyam's Taste-Buddy 2019 | <a href="/foods">Home</a> | <a href="/foods/new">New Recipe</a></p>
          </div>
        </footer>
    </body>
</html>