<!DOCTYPE html>
<html>
    <head>
        <title>TasteBuddy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
         async></script>
         <link href='//fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header" style="width:80%; margin:auto;">
 		<h1 style="text-align:center">Welcome to TasteBuddy!</h1>
		<a href="/foods" class="btn btn-lg btn-primary btn-block">View All Food Recipes</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>

    </ul>

<%- include ("partials/footer") %>