<%- include ("./partials/header") %>
<div class="container">
		<div class="row">
			<h1 style="text-align:center; color:blue;">LOGIN</h1>
            <div style="width:30%; margin: 25px auto;"> 
				<form action="/login" method="POST">
				   <div class="form-group">
					   <input class="form-control" type="text" name="username" placeholder="username">
				   </div>
                   <div class="form-group">
	                   <input class="form-control " type="password" name="password" placeholder="password">
                   </div>
                   <div class="form-group">
	                   <button class="btn btn-lg btn-primary btn-block">Login</button>
                   </div>
				   
				</form> 
				<a href="/register"><h5>New User?Register</h5></a>
				<a href="/foods"><h5>Go Back</h5></a>
            </div>

	
		</div>
	
	</div>

<%- include ("./partials/footer") %>