body {
  background-color: #000;
}
h1 {
  font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: white;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQi6NTSJsluQujG_nCd-tZPuy9uW6GhTS80sXlGX2M1m0cVBiB6);
}
.slideshow li:nth-child(2) { 
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg);
  animation-delay: 7s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSs3tMgMqvQ_DxyOJwo9QG0i74ApDIDNQzZxjerTEU_4jzgI2dA);
  animation-delay: 15s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQm6kApS_lThpk8P2DcPRYKIVDdLah0wZIWAsA6OWOJ75_BAQEF);
  animation-delay: 22s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}